<?xml version="1.0" encoding="utf-8"?>
<!-- Pocket Tokyo as an Android app: one NativeActivity, no Java. tools/android.ts
     fills in the version. `debuggable` lets a development run replace the engine
     and the pack in the app's own data through run-as. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.pocketnexus.tokyo"
    android:versionCode="@VERSION_CODE@"
    android:versionName="@VERSION_NAME@">
    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="true" />
    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:hasCode="false"
        android:icon="@drawable/icon"
        android:label="Pocket Tokyo">
        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Pocket Tokyo"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data android:name="android.app.lib_name" android:value="tokyo" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
